mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

mat-card-content {
  min-width: 0;
  overflow-x: auto;
}


.liability-table {
  width: 100%;
  min-width: 0;
  table-layout: fixed;
}


th, td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


mat-card-header {
  margin-bottom: 20px;
}

.total-liability {
  margin-bottom: 10px;
}

.show-more-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
