mat-card {
  height: 100%;
}

mat-card-header {
  margin-bottom: 20px;
}

.total-liability {
  margin-bottom: 10px;
}

.show-more-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
