<div class="dialog-header">
  <h2 mat-dialog-title>{{ 'analytics.beneficiariesByCity.fullViewTitle' | translate }}</h2>
</div>

<mat-dialog-content>
  <app-export-csv-button [data]="data" />

  <div
    class="modal-chart"
    [style.height.px]="chartHeightPx()"
  >
    <canvas
      baseChart
      [type]="'bar'"
      [data]="chartData()"
      [options]="chartOptions"
    ></canvas>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'common.close' | translate }}</button>
</mat-dialog-actions>
