mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

mat-card-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.bar-chart {

  min-height: 260px; /* IMPORTANT */
  position: relative;
}


mat-card-header {
  margin-bottom: 20px;
}

.show-more-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;

}
