.dashboard-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* IMPORTANT */
  box-sizing: border-box;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  align-items: stretch;
  width: 100%;
}

.grid-column {
  display: flex;
  min-width: 0; /* VERY IMPORTANT for charts */
}

.grid-column > * {
  width: 100%;
}
