.dashboard-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 16px;
}

.dashboard-grid {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.grid-column {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.grid-column > * {
  flex: 1 1 100%;
}
