.filters-row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;

}

.filters-card {
  margin-bottom: 16px;
  padding: 16px 16px 0 16px;
  justify-content: center;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}
button{
  padding: 25px;
  font-size: 18px;
}

mat-form-field {
  min-width: 260px;
}
