<mat-card class="filters-card">
  <div class="filters-row">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analytics.dashboard.filters.from' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="fromPicker"
        [(ngModel)]="from"
      />
      <mat-datepicker-toggle matSuffix [for]="fromPicker" />
      <mat-datepicker #fromPicker />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analytics.dashboard.filters.to' | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="toPicker"
        [(ngModel)]="to"
      />
      <mat-datepicker-toggle matSuffix [for]="toPicker" />
      <mat-datepicker #toPicker />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analytics.dashboard.filters.program' | translate }}</mat-label>

      <mat-select [(ngModel)]="programId">
        <mat-option [value]="null">
          {{ 'analytics.dashboard.filters.allPrograms' | translate }}
        </mat-option>

        @for (program of programs; track program.programId) {
          <mat-option [value]="program.programId">
            {{ program.programName }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button
        mat-flat-button
        color="primary"
        (click)="apply()"
      >
        {{ 'analytics.dashboard.filters.apply' | translate }}
      </button>


      <button
        mat-stroked-button
        (click)="clear()"
      >
        {{ 'analytics.dashboard.filters.clear' | translate }}
      </button>
    </div>


  </div>
</mat-card>
