.set-password-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  position: relative;
}

.header {
  position: absolute;
  top: 25px;
  right: 50px;
}

.card {
  width: 500px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submit-button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 15px;
}

.set-password-container mat-form-field {
  margin-bottom: 1.9rem;
}
