<div class="set-password-container">

  <div class="header">
    <app-locale-selector
      [selectedLocale]="localeService.getLocale()"
      [supportedLocales]="localeService.supportedLocales"
      (selectedLocaleChange)="onLocaleChange($event)">
    </app-locale-selector>
  </div>

  <mat-card class="card">
    <mat-card-content class="content">

      <h2 class="title">{{ 'authentication.setPassword.title' | translate }}</h2>

      <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">

        <!-- Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'authentication.setPassword.password' | translate }}</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password" />

          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (setPasswordForm.get('password')?.hasError('required')) {
            <mat-error>
              ** {{ 'authentication.messages.password-is-required' | translate }}
            </mat-error>
          }

          @if (setPasswordForm.get('password')?.hasError('minlength')) {
            <mat-error>
              ** {{ 'authentication.messages.password-criteria' | translate:{length: 8} }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'authentication.setPassword.confirm-password' | translate }}</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword" />

          <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (setPasswordForm.get('confirmPassword')?.hasError('required')) {
            <mat-error>
              ** {{ 'authentication.messages.confirm-password-is-required' | translate }}
            </mat-error>
          }

          @if (setPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')) {
            <mat-error>
              ** {{ 'authentication.messages.passwords-do-not-match' | translate }}
            </mat-error>
          }
        </mat-form-field>

        <!-- Submit -->
        <button
          mat-raised-button
          color="primary"
          class="submit-button"
          type="submit">
          {{ 'authentication.setPassword.save-password' | translate }}
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
