@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background: #f7f8fa;
  color: #1f2933;
}

a {
  color: inherit;
  text-decoration: none;
}
