mat-card{
  height: 100%;

}
mat-card-header{
  margin-bottom: 20px;
}
.application-funnel-container{
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}
.pie-chart{
  height: 300px;
}
