.locale-button {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 80px;
  height: 36px;
  padding: 0 12px;
  background-color: #ffffff22;
  border-radius: 4px;

  mat-icon {
    font-size: 20px;
  }
}
